@model IEnumerable<ControleDeEstoque.Models.EstoqueItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Produtos</h1>

<p style="text-align: right;">
    <a class="btn-nvproduto" asp-action="Create">Criar Novo Produto</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.PrecoUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrada)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
